<header>
    <div class="max-w-6xl mx-auto px-5 ">
        <div class="flex justify-end py-3 md:hidden">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
        </div>
        <ul class="flex justify-end space-x-8 py-5 hidden md:flex">
            <li class="hover:text-red-700 text-gray-500 font-semibold"><a routerLink="/">Home</a></li>
            <li class="hover:text-red-700 text-gray-500 font-semibold" ><a routerLink="/work">Works</a></li>
            <li class="hover:text-red-700 text-gray-500 font-semibold"><a routerLink="/blog">Blog</a></li>
            <li class="hover:text-red-700 text-gray-500 font-semibold"><a routerLink="/admin/dashboard">Admin</a></li>
            <li class="hover:text-red-700 text-gray-500 font-semibold"><a routerLink="/signup">Signup</a></li>
            <li class="hover:text-red-700 text-gray-500 font-semibold"><a routerLink="/signin">Signin</a></li>
        </ul>
    </div>
</header>