<div class="container">
    <h2>Add Blog</h2>
    <form (ngSubmit)="onSubmit()" #fromAdd="ngForm">
        <div class="mb-3" >
          <label for="exampleInputPassword1" class="form-label">name</label>
          <input type="text" class="form-control" id="exampleInputPassword1" 
          placeholder="name"
          name="name"
            [(ngModel)]="works.name"
          >
        </div>
        <div class="mb-3" >
            <label for="exampleInputPassword1" class="form-label">Img</label>
            <input type="text" class="form-control" id="exampleInputPassword1" 
            placeholder="img"
            name="img"
              [(ngModel)]="works.img"
            >
          </div>
          <div class="mb-3" >
            <label for="exampleInputPassword1" class="form-label">Category</label>
            <input type="text" class="form-control" id="exampleInputPassword1" 
            placeholder="Category"
            name="Category"
              [(ngModel)]="works.category"
            >
          </div>
          <div class="mb-3" >
            <label for="exampleInputPassword1" class="form-label">Desc</label>
            <input type="text" class="form-control" id="exampleInputPassword1" 
            placeholder="desc"
            name="desc"
              [(ngModel)]="works.desc"
            >
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>