<section class="blog-news py-20">
    <div class="max-w-6xl mx-auto px-[235px]">
        <h2 class="text-[44px] text-[#21243D] text-center md:text-left">Blog</h2>
    </div>
    <div class="max-w-6xl mx-auto md:px-[235px]">
        <div class="gap-8">
            <div class="bg-white py-8 border-b">
                <h3 class="mb-5">
                    <a href="" class="text-2xl font-bold">{{blogs.name}}</a>
                </h3>
                <div class="flex space-x-4 text-[#21243D] mb-5">
                    <span>
                     12 Feb 2019
                    </span>
                    <span>
                    |
                    </span>
                    <span>
                    Express, Handlebars
                    </span>   
                 </div>
                 <p>{{blogs.desc}}</p>
            </div> 
        </div> 
        
    </div>

</section>