<section class="info py-10">
    <div class="max-w-6xl mx-auto px-5">

    <div class="grid md:grid-cols-3">
        <div class="md:col-span-2 order-2 md:order-1">
            <h2 class="text-3xl md:text-5xl font-bold mt-10 md:mt-0 md:leading-[60px]">
                Hi, I am John, <br />
                Creative Technologist
            </h2>
            <p class="text-base my-5">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <a href="" class="inline-block bg-red-500 py-5 px-10 rounded-sm">Download Resume</a>
        </div>
        <div class="md:col-span-1 order-1 md:order-2">
            <img src="https://tse1.mm.bing.net/th?id=OIP.x2yQgsjSoi0w6-RTwgfRtgHaHa&pid=Api&P=0&w=163&h=163" alt="" class="rounded-full mx-auto md:ml-auto md:mr-0" width="243px" height="243px">
        </div>
    </div>
    </div> 
</section>
<section class="recent-posts bg-[#EDF7FA] py-10">
    <div class="max-w-6xl mx-auto px-5">
        <div class="flex justify-center md:justify-between py-5 text-xl "> 
            <h2 class="text-[22px]">Recent posts</h2>
            <a href="" class="text-[#00A8CC] hidden md:inline-block">View all</a>
        </div>
        
        <div class="gap-8 md:flex">
            <div class="bg-white px-5 py-8">
                <h3 class="mb-5">
                    <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                </h3>
                <div class="flex space-x-4 text-[#21243D] mb-5">
                    <span>
                     12 Feb 2020
                    </span>
                    <span>
                    |
                    </span>
                    <span>
                     Design, Pattern
                    </span>   
                 </div>
                 <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div> 
            <div class="bg-white px-5 py-8">
                <h3 class="mb-5">
                    <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                </h3>
                <div class="flex space-x-4 text-[#21243D] mb-5">
                    <span>
                     12 Feb 2020
                    </span>
                    <span>
                    |
                    </span>
                    <span>
                     Design, Pattern
                    </span>   
                 </div>
                 <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>       
        </div> 
        
    </div>

</section>
<section class="feature-projects">
    <div class="max-w-6xl mx-auto px-5">
        <div class="justify-between py-5"> 
            <h2 class="text-[22px] text-xl text-center md:text-left">Featured works</h2>
        </div>
        <div class="project-item grid md:grid-cols-[246px,auto] gap-8 border-b py-5">
            <div>
                <img src="https://tse3.mm.bing.net/th?id=OIP.c1HcK3cDX9mQn1BZJN-AsgHaFi&pid=Api&P=0&w=254&h=190" class="rounded-lg w-full" alt="" width="246" height="180">
            </div>
            <div>
                <h3>
                    <a href="" class="text-[#21243D] text-[30px] font-bold">Designing Dashboards</a>
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] text-white px-2 py-1 font-bold rounded-full">2020</span>
                    <span class="text-[#8695A4]">Dashboard</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            
        </div>
        <!-- project-item -->
        <div class="project-item grid md:grid-cols-[246px,auto] gap-8 border-b py-5">
            <div>
                <img src="https://i.pinimg.com/originals/5f/d2/38/5fd238962981a440a6e96f75664bfa49.png" class="rounded-lg w-full" alt="" width="246" height="180">
            </div>
            <div>
                <h3>
                    <a href="" class="text-[#21243D] text-[30px] font-bold">Vibrant Portraits of 2020</a>
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] text-white px-2 py-1 font-bold rounded-full">2018</span>
                    <span class="text-[#8695A4]">Illustration</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            
        </div>
        <!-- project-item -->
        <div class="project-item grid md:grid-cols-[248px,auto] gap-8 border-b py-5">
            <div>
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2389be73152211.5bffde9511c55.jpg" class="rounded-lg w-full" alt="" width="246" height="180">
            </div>
            <div>
                <h3>
                    <a href="" class="text-[#21243D] text-[30px] font-bold">36 Days of Malayalam type</a>
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] text-white px-2 py-1 font-bold rounded-full">2018</span>
                    <span class="text-[#8695A4]">Typography</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            
        </div>
        <!-- project-item -->
    </div>
</section>